@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-success: #16a34a;
    --color-warning: #ea580c;
    --color-danger: #dc2626;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc;
    color: #334155;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}